<!-- <aside
  :class="sidebarToggle ? 'translate-x-0 lg:w-[90px]' : '-translate-x-full'"
  class="sidebar fixed left-0 top-0 z-9999 flex h-screen w-[290px] flex-col overflow-y-hidden border-r border-gray-200 bg-white px-5 dark:border-gray-800 dark:bg-black lg:static lg:translate-x-0"
>
  <div
    class="flex flex-col overflow-y-auto duration-300 ease-linear no-scrollbar"
  >
    <a routerLink="/app-dashboard" routerLinkActive="active">
      <span class="logo" :class="sidebarToggle ? 'hidden' : ''">
        <img class="dark:hidden" src="./images/logo/logo.svg" alt="Logo" />
        <img
          class="hidden dark:block"
          src="./images/logo/logo-dark.svg"
          alt="Logo"
        /> </span
      >DASHBOARD</a
    >
    <a routerLink="/Profile" routerLinkActive="active">User profile</a>
    <a routerLink="/product-list" routerLinkActive="active">Products</a>
    <a routerLink="/user-list" routerLinkActive="active">Users</a>
  </div>
</aside> -->
<!-- app.component.html -->
<div class="min-h-screen flex">
  <aside
    class="w-70 bg-white text-white flex flex-col p-4 space-y-4 transition-all duration-300"
    [ngClass]="{
      'w-70': sidebarOpen,
      'w-0 overflow-hidden': !sidebarOpen
    }"
  >
    @if(sidebarOpen) {
    <img src="assets/Photos/logo.png" alt="Logo" class="w-10 h-10" />
    <h2 class="text-black items-center">D-COMMERCE</h2>
    <nav class="flex flex-col space-y-2">
      <a
        routerLink="/dashboard"
        routerLinkActive="bg-gray-200"
        class="px-4 py-2 rounded hover:bg-gray-200 text-black border-gray-200 flex items-center gap-2"
      >
        <img src="assets/Photos/dashboard-2.png" class="w-5 h-5" />
        <span>DASHBOARD</span></a
      >
      <a
        routerLink="/users"
        routerLinkActive="bg-gray-200"
        class="px-4 py-2 rounded hover:bg-gray-200 text-black border-gray-200 flex items-center gap-2"
      >
        <img src="assets/Photos/user.png" class="w-5 h-5" />
        <span>USERS</span></a
      >
      <a
        routerLink="/products"
        routerLinkActive="bg-gray-200"
        class="px-4 py-2 rounded hover:bg-gray-200 text-black flex items-center gap-2"
      >
        <img src="assets/Photos/box.png" class="w-5 h-5" />
        <span>PRODUCTS</span></a
      >
    </nav>
    }
  </aside>
  <!-- Main content -->
  <main class="flex-1 p-6 bg-gray-100">
    <button
      (click)="toggleSidebar()"
      class="mb-4 px-4 py-2 text-white rounded hover:bg-gray-200"
    >
      <img src="assets/Photos/list.png" class="w-5 h-5" />
      <!-- <span>Add User</span> -->
    </button>
  </main>
</div>
